<% if (alerts.error) { %> <% alerts.error.forEach(eachError => { %>
<div class="alert alert-error"><%= msg %></div>

<% }); %> <% } %> <% if (alerts.success) { %> <%
alerts.success.forEach(eachError => { %>
<div class="alert alert-success"><%= msg %></div>
<% }); %> <% } %>
